<h1>{{name}} ({{onlyCommuterRail ? 'Commuter Rail' : 'All Trips'}})</h1>
<table>
    <tr>
        <th>Time</th>
        <th>Route</th>
        <th>Headsign</th>
        <th>Platform</th>
        <th>Status</th>
        <th>button</th>
    </tr>
    <tr *ngFor="let prediction of predictions" [hidden]="prediction.last_stop">
        <td>{{prediction.time}}</td>
        <td [style.color]="'#'+prediction.route?.attributes.text_color" [style.backgroundColor]="'#'+prediction.route?.attributes.color">
            {{prediction.route?.attributes.long_name}}</td>
        <td>{{prediction.trip?.attributes.headsign}}</td>
        <td>{{prediction.stop?.attributes.platform_code || 'TBD'}}</td>
        <td>{{prediction.status}}</td>
        <td><button (click)="button(prediction)">button :)</button></td>
    </tr>
</table>