<h1>{{stop}}</h1>
<table>
    <tr>
        <th>Time</th>
        <th>Route</th>
        <th>Headsign</th>
        <th>Platform</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let prediction of predictions" [hidden]="!prediction || prediction.last_stop">
        <td>{{prediction.time}}</td>
        <td [style.color]="'#'+prediction.line_text_color" [style.backgroundColor]="'#'+prediction.line_color">
            {{prediction.line}}</td>
        <td>{{prediction.headsign}}</td>
        <td>{{prediction.platform || 'TBD'}}</td>
        <td>{{prediction.status}}</td>
    </tr>
</table>

<button (click)="button()">button</button>